<header class="site-header tw:w-full tw:py-8 tw:border-b tw:border-stroke" role="banner" aria-label="{{ 'header.site_header' | t | default: 'Site header' }}">
  <div class="container tw:flex tw:items-center tw:justify-between tw:w-full  tw:max-w-330">
    {%- render 'logo' -%}
    {%- render 'nav-main'-%}
    <a class=":w-6 tw:aspect-square" href="{{ routes.cart_url }}" aria-label="{{ 'cart.open_cart' | t }}">
      {{ 'cart-icon.svg' | inline_asset_content }}
    </a>
  </div>
</header>


